/*Cores:
#dc8651 - Laranja Escuro
#e3aa59 - Laranja Médio
#f2f4df - Creme
#53699b - Azul Médio
#181630 - Azul Escuro
*/

html , body, form  { 
    margin: 0 ;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    background-color: #f2f4df;
    background-image: url(img/Naruto-pb.jpg);

}

header{
    margin-top: -44px;
    padding: 0;
} 

.titulo-page-cadastro {
    background: linear-gradient(0deg, rgba(83,105,155,1) 0%, rgba(24,22,48,1) 100%);  
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 1px #181630;
} 

h1 {
    color: #f2f4df;
    font-size: 4em;
    text-align: center;
}


h2, h3 {
    font-size: 2em;
    color: #181630;
    text-align: center;
}

h4 {
    font-size: 1.5em;
    color: #181630;
}

.texto-topo {
    padding: 4px 20px;
    margin: 0;
}

a {
    text-decoration: none;
}

.form {
    padding: 0 33%;   
}

.titulo-page-cadastro {
    margin:0 ;
    padding: 0 10%;
}

nav ul{
    background: linear-gradient(0deg, rgba(83,105,155,1) 0%, rgba(24,22,48,1) 50%); 

}

.lista-topo ul li {
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    display: inline ;
    padding-left: 8%; 
    padding-bottom: 8%;
    margin-left: 12% ;     
}

ul {
    list-style-type: none;  
}

ul li {
    color: #53699b;
}

a:hover {
    color:#dc8651; 
    text-decoration:none; 
    cursor:pointer; 
}

p , form {
    text-align: left;
    letter-spacing: 0.25px;
    font-style: normal;
    color: #181630;
    padding: 1rem; 
    margin: -0.5rem;
    position: relative;   
}

.video {
    padding: 8px 32.8%;
    margin: 2px;
    float: inline-end;
}

form {
    background: linear-gradient(15deg, rgba(220,134,81,1) 0%, rgba(227,170,89,0.9) 100%);  
    display: block; 
}


.button-return button{
    text-decoration: none;
    font-size: 1em;
    color: #181630;
    padding: 2px;
    margin: 8px 0 ;  
}

#txtEnviar {
    font-weight: bold;
    font-size: 1em;
    color: #181630;
}

#acpButton , #wppButton  {
    font-weight: 400;
    font-size: 0.90em;
    color: #181630;
}

.buttons {
    text-decoration: none;
    font: small normal 600 2em;
    color: #181630;
    padding: 12px;
    margin: 4px;
}

footer {
    background: linear-gradient(180deg, rgba(83,105,155,1) 50%, rgba(24,22,48,1) 100%); 
    text-align: center;
}

.texto-footer {
    color: #f2f4df;
    font-size: 1.1em;
    text-align: center;
}