/*Cores:
#dc8651 - Laranja Escuro
#e3aa59 - Laranja Médio
#f2f4df - Creme
#53699b - Azul Médio
#181630 - Azul Escuro
*/

html , body, form  { 
    margin: 0 ;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    background-color: #f2f4df;
    background-image: url(img/Naruto-pb.jpg);

}

header{
    margin-top: -44px;
    padding: 0;
} 

.titulo-page-cadastro {
    background: linear-gradient(0deg, rgba(31,31,38,1) 65%, rgba(20,20,28,1) 83%);

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    text-shadow: 1px 2px 1px #181630;
} 

h1 {
    color: #339C9C;
    font-size: 3em;
    text-align: center;
    padding: 2% 0 0 0 ;

}


h2 {
    font-size: 2.25em;
    color: #f2f4df;
}

h3 {
    font-size: 1.25em;
    color: #181630;
}

h4 {
    font-size: 1.5em;
    color: #181630;
}

.texto-topo {
    padding: 4px 20px;
    margin: 0;
}

a {
    text-decoration: none;
}

.form {
    padding: 0 33%;   
}

.titulo-page-cadastro {
    margin: auto;
    padding: 0 10%;
}

nav ul{
    background: linear-gradient(0deg, rgba(31,31,38,1) 100%, rgba(20,20,28,1) 93%);
    margin: auto;
    color: #fafafa;

}

#lista-topo {
    margin: 0 2%;
    padding: 0 1em;
    text-align: center;
    color: #fafafa;
}

#lista-topo ul li {
    text-decoration: none;
    font-family:'Noto Sans JP', sans-serif ;
    padding: 1em;
    font-size: 1em;
    font-weight: 400;
    display: inline ;
}

ul {
    list-style-type: none;
    color: #fafafa;

}

a {
    color: #fafafa;
}

a:hover {
    color:#dc8651; 
    text-decoration:none; 
    cursor:pointer; 
}

p , form {
    text-align: center;
    letter-spacing: 0.25px;
    font-style: normal;
    color: #181630;
    font-weight: 700;
    padding: 1rem; 
    margin: -0.5rem;
    width: 100%; 
 
}

#form-button {
    margin: 0 1em;
    box-shadow: none;
}

#form input {
    border: none;
    border-radius: 4px;
    box-shadow:  2px 2px 10px #444;
    padding: 0.5em 1em;
    font-size: 1em;
}


form {
    background: linear-gradient(180deg, rgba(220,134,81,1) 0%, rgba(227,170,89,1) 75%, rgba(242,244,223,1) 100%);
    display: block;
    margin-top: 1em;
    border: none;
    border-style: ridge;

}


#form {
    text-align: center;
    margin:  1% 25%;
}


.button-return button{
    text-decoration: none;
    font-size: 1em;
    color: #181630;
    padding: 2px;
    margin: 8px 0 ;  
}

#txtEnviar {
    font-weight: bold;
    font-size: 1em;
    color: #181630;
    
}

#acpButton , #wppButton  {
    font-weight: 400;
    font-size: 0.90em;
    color: #181630;
}

.buttons {
    text-decoration: none;
    font: small normal 600 2em;
    color: #181630;
    padding: 12px;
    margin: 4px;
}

footer {
    background: linear-gradient(0deg, rgba(31,31,38,1) 65%, rgba(20,20,28,1) 83%);

    text-align: center;
}

.texto-footer {
    color: #f2f4df;
    font-size: 0.9em;
    text-align: center;
    text-indent: -1em;
    margin: 0;
    font-weight: 300; 
}