:root {
    --image-bg: url(img/Naruto-pb.jpg);
    --font-family: 'Noto Sans JP', sans-serif;
    --color-form: linear-gradient(180deg, rgba(51,156,156,1) 8%, rgba(59,180,180,1) 38%, rgba(255,255,255,1) 64%);  
    --color-header-footer: linear-gradient(0deg, rgba(31,31,38,1) 65%, rgba(20,20,28,1) 83%); 
    --color-nav-ul: linear-gradient(0deg, rgba(31,31,38,1) 0%, rgba(20,20,28,1) 83%);
    --text-shadow-h1-h3: 1px 1px 1px #14141C;
    --transition-hover: all 1s;  
    --color-buttons-input-text: #1E1E26;
}

html , body, form  { 
    margin: 0 ;
    padding: 0;
    font-family: var(--font-family);
    font-size: 1em;
    background-image: var(--image-bg);
}

header{
    margin-top: -44px;
    padding: 0;
} 

.titulo-page-cadastro {
    background: var(--color-header-footer);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-shadow: var(--text-shadow-h1-h3);
} 

h1 {
    color: #339C9C;
    font-size: 3em;
    text-align: center;
    padding: 2% 0 0 0 ;
}

h2 {
    font-size: 2.5em;
    color: #14141C;
}

h3 {
    font-size: 1.25em;
    color: #14141C;
}

a {
    text-decoration: none;
}

.form {
    padding: 0 33%;   
}

.titulo-page-cadastro {
    margin: auto;
    padding: 0.25% 0;
}

nav ul{
    background:var(--color-nav-ul);
    margin: auto;
    color: #FFFFFF;
}

#lista-topo {
    text-align: center;
    font-weight: 300;
    font-size: 1.1em;
}

#lista-topo nav ul  {  
    font-family: var(--font-family) ;
    font-weight: 300;  
}

li{
    display: inline-block ;
    padding: 0 2.7em;
}

ul {
    list-style-type: none;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

a:hover {
    color:#339C9C; 
    text-decoration: none; 
    cursor: pointer; 
    transition: var(--transition-hover);
}

#form-button  {
    margin: 0 1em;
}

#form input {   
    border-radius: 4px;
    padding: 0.5em 1em;
    font-size: 1em;
    color:#1E1E26;
    background-color: #FFFFFF ;
}

#form input:focus {
    border: 0 none;
    box-shadow : 0 0 0 0 ;
    outline: 0;
}

form {
    background: var(--color-form);
    margin-top: 1em;
    border-style: ridge;
    text-align: center;
    letter-spacing: 0.25px;
    font-style: normal;
    color: #1E1E26;
    font-weight: 700;
    padding: 1rem; 
    margin: -0.5rem;
    width: 100%; 
}

#form {
    text-align: center;
    margin:  1% 25%;
}


.button-return button{
    font-size: 1em;
    color: var(--color-buttons-input-text);
    padding: 2px;
    margin: 8px 0 ;  
}

#txtEnviar {
    font-weight: bold;
    font-size: 1em;
    color: var(--color-buttons-input-text);  
}

#acpButton , #wppButton {
    font-weight: 400;
    font-size: 0.90em;
    color:var(--color-buttons-input-text);
}

.buttons {
    font: small normal 600 2em;
    color: var(--color-buttons-input-text);
    padding: 12px;
    margin: 4px;
}

footer {
    background: var(--color-header-footer);
    text-align: center;
}

.texto-footer {
    color: #FFFFFF;
    font-size: 0.9em;
    padding: 1.5em;
    margin: 0;
    font-weight: 300; 
}