/*
https://www.palettable.io/32394C-2B3B52-FFFFCC-F8E8A3-2E2B1E
*/

html , body, ul {
    font-family: 'Lexend', sans-serif;
    background-color: none;
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 1px #2b3b52;
}

h1 {
    color: #2e2b1e;
}

h2,h3,h4,h5 {
    color: #32394c;
}


p {
        text-align: left;
        letter-spacing: 0.25px;
        font-style: normal;
        color: #2b3b52;

}

.buttons {
    text-decoration: none;
    text-transform: uppercase;
    font-variant: small;
    font-style: normal;
    font-weight: 600;
    color: #2e2b1e;

}

.titulo-li, th  {
   
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #2e2b1e;
}
