/*Cores:
#dc8651 - Laranja Escuro
#e3aa59 - Laranja Médio
#f2f4df - Creme
#53699b - Azul Médio
#181630 - Azul Escuro
*/

html , body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: none;
    font-size: 1em;
    background-color: #f2f4df;
    backdrop-filter: blur (1px);
}

header{
    margin-top: -45px;
    padding: 0;
}

a {
    color: #f2f4df;
    font-weight: bold;
    text-decoration: none;
}
.titulo {
    background: linear-gradient(0deg, rgba(83,105,155,1) 0%, rgba(24,22,48,1) 100%);
   
}

h1, h3 {
    text-transform: uppercase;
}

h2 {
    text-transform: unset;
}

h1 {
    color: #f2f4df;
    font-size: 4em;
    text-align: center;
}

h2 {
    color: rgba(227, 170, 89) 0.5 ;
    font-size: 2em;
    font-weight: 300;
    text-indent: 1em;
}

h3 {
    color: #53699b;
}

h4 {
    color: #181630;
    font-size: 1.5em;   
}

main {
    padding: 0 12%;
    margin: 0;
    margin-top: -28px;
    background-image: url(img/Naruto-pb.jpg);
}



.subtitulo-home {
    text-align: center;
    font-size: 1.25em;
    padding: 2px 8px 0 8px;
}

.img-2{
    margin:  0 33% 0 0 ;
}

img  {
    padding: 0 208px;
    margin-top: 2px;
}



p {
    text-align: left;
    letter-spacing: 0.25px;
    font-style: normal;
    color: #181630;
    padding: 12px 60px;
    
}

.buttons {
    text-decoration: none;
    text-transform: uppercase;
    font-variant: small;
    font-style: normal;
    font-weight: 600;
    color: #181630;
    padding: 12px;
    margin: 4px;
}

.button-cadastro-top {
    padding: 8px;
    margin-left: 212px;
}

.titulo-li, th  {  
    text-decoration: none;
    font-style: normal;
    font-size: 1.25em;
    font-weight: bold;
    color: #181630;
}

tr {
    font-size: 1em;
}

.titulo-h2 {
    color:#f2f4df; 
    font-weight: 500;
}

.descricao-h2 {
    background: linear-gradient(58deg, rgba(220,134,81,1) 0%, rgba(227,170,89,1) 100%);

}

.tabela-personagens {
    background-color: #f2f4df;
}

footer {
    background-color: #53699b;
    text-align: center;
    margin: -24px 0 0 0;
    padding-bottom: 0;
}

.texto-footer {
    color: #f2f4df;
    font-size: 1.1em;
    text-align: center;
}
