/*Cores:
#dc8651 - Laranja Escuro
#e3aa59 - Laranja Médio
#f2f4df - Creme
#53699b - Azul Médio
#181630 - Azul Escuro
*/

html , body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: none;
    font-size: 1em;
    background-color: #FFFFFF;
}


header{
    margin-top: -45px;
    padding: 0;

}

header nav ul{
    background: linear-gradient(0deg, rgba(31,31,38,1) 0%, rgba(20,20,28,1) 83%);

}


 li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    padding: 0.5em;
    margin-bottom: 1em;  
}

a:hover {
    color: #339C9C; 
    cursor:pointer; 
    transition: all 1s ;
}

.titulo {
    background: linear-gradient(0deg, rgba(31,31,38,1) 65%, rgba(20,20,28,1) 83%); 
}

h1, h3 {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
}

h2 {
    text-transform: unset;
}

h1 {
    color: #339C9C;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px -1px #14141C ;
    padding: 2% 0 0 0 ;
}

h2 {
    font-size: 2.2em;
    font-weight: 400;
    text-indent: 1.25em;
    text-align: left;
    padding: 0.5em 0 0 0;
    margin: 0.8em 0;
}

h3 {
    color: #1E1E26;
    font-size: 1.25em;
    margin: 0;
    padding: 0.25em 1em;
}

h4 {
    color: #181630;
    font-size: 1em;   
}

main {
    padding: 0 6%;
    margin: 0;
    margin-top: -28px;
    background-image: url(img/Naruto-pb.jpg) ;
}

.subtitulo-home {
    text-align: center;
    font-size: 1.25em;
    padding: 2px 8px 0 8px;
}

img {
    padding: 0 28.7%;
    margin-top: 2px;
    max-width:70%;
	height:auto;
    box-shadow:  2px 2px 10px #444;
}

a {
    color: #1E1E26;
    font-weight: bold;
    text-decoration: none ;
    font-size: 1em;
}

#poster-anime {
    align-items:initial;
}

#lista-topo{
    margin: 0 ;
    padding: 0 ;
    text-align: center;
    font-weight: 100;

}

#lista-topo ul li {
    display: inline;
    color: #fafafa;
    padding: 1em;
    
}

p {
    text-align: left;
    letter-spacing: 0.15px;
    font-style: normal;
    color: #1E1E26;
    padding: 1.5em 5em;
  
    
}

.titulo-li, th {  
    text-decoration: none;
    font-style: normal;
    font-size: 1.25em;
    font-weight: bold;
    color: #181630;
}

tr {
    font-size: 1em;
    color: #181630;
}

.titulo-h2 {
    color:#14141C; 
    font-weight: 600;
}

.descricao-h2 {
    background: linear-gradient(180deg, rgba(51,156,156,1) 8%, rgba(59,180,180,1) 38%, rgba(255,255,255,1) 64%);

}

ul {
    list-style-type: none;
}

#tabela-personagens {
    background-color: #FFFFFF;
    text-align: center;
    padding: 1% 5% 4% 5%;
    border: none;
    margin: 0;

}

#tabela-personagens caption {
    background-color: #FFFFFF;
    box-shadow:  2px 2px 10px #1E1E26;
    border-radius: 4px;
    font-size: 1.5em;

}

#tabela-personagens thead th {
    background-color: #a3dfdf;
    box-shadow:  1px 1px 3px #14141C;
    border-radius: 4px;
    font-size: 1em;
}

#tabela-personagens td  {
    border-radius: 4px;
    padding: 0.3em 6em;
    border: none;
    box-shadow:  2px 2px 10px #444;
    background: rgb(218, 216, 216);
    font-size: 1.2em;

}

#tabela-personagens td:hover{
    background-color: rgb(155, 214, 211);
    border-radius: 2px;
    transition: all 1s;
}

#tabela-personagens a{
    color: #14141C;
    padding: 5em;
    margin: 2em;
}

#img-tabela {
    box-shadow: none;
    margin: 0;
    padding: 0 1%;
}

footer {
    background: linear-gradient(0deg, rgba(31,31,38,1) 65%, rgba(20,20,28,1) 83%);
    text-align: center;
    margin: -24px 0 0 0;
    padding-bottom: 0;
}

.texto-footer {
    color: #f2f4df;
    font-size: 0.80em;
    text-align: center;
    text-indent: -1em;
    margin: 0;
    font-weight: 300; 
}
